
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #181C14;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 1.2rem;
    width: 100%;
}

h2 {
    font-size: 2rem;
    color: #ECDFCC;
    margin-bottom: 20px;
}


.board {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #697565;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;

}
